#ignore everything
*
**/*

#don't ignore our main files
!docker-compose.yml
!.gitignore
!LICENSE
!README.md
!inetmonit.sh

#don't ignore these subdirectories
!docker/

#make sure to ignore these files
docker/*
