*.pcap
*.txt
*.log
*.ovpn
/temp/
/temp/*
/temp/**/*
/shared_data/
/shared_data/*
/shared_data/**/*
*.sh
.env
*.env

# Don't ignore these shell scripts
!docker_port_fix.sh
!acme_reg_example.sh

# Don't ignore our main files
!docker-compose.yml
!.gitignore
!LICENSE
!README.md
!.env.example
