*.pcap
*.txt
*.log
*.ovpn
/temp/
/temp/*
/temp/**/*
*.sh
.env
*.env

#Ignore sandbox folders
unused_services/

# Don't ignore these shell scripts
!docker_port_fix.sh
!acme_reg_example.sh
!docker-network-all.sh
!docker-up-all.sh

# Don't ignore our main files
!docker-compose.yml
!.gitignore
!LICENSE
!README.md
