# Ignore everything in this directory
*
# Except this file, main compose, needed directories
!.gitignore
!docker-compose.yml
!filebrowser_config/
!filebrowser_config/*
!filebrowser_data/
!filebrowser_data/*
