version: "3.6"

services:
  filebrowser:
    container_name: filebrowser
    hostname: filebrowser
    restart: unless-stopped
    image: filebrowser/filebrowser:latest

    ###
    #  I have authentication turned off because I have it behind google oauth and don't mind having a single user profile
    ###
    command: [
      "--noauth"
    ]
    environment:
      - FB_NOAUTH=noauth
      - FB_BRANDING.DISABLEEXTERNAL=true
    ports:
      - 80
    volumes:
      - ${GHS_DIR}/services/filebrowser/filebrowser_data/hosted_docs:/files
      - ${GHS_DIR}/services/filebrowser/filebrowser_config/fb_database.db:/database.db
      - ${GHS_DIR}/services/filebrowser/filebrowser_data/fb_logs.log:/fb_logs.log
      - ${GHS_DIR}/services/filebrowser/filebrowser_config/filebrowser.json:/.filebrowser.json
    networks:
      - filebrowser_lan

networks:
  filebrowser_lan:
    external: true  